<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <<h1>Sign up</h1>
        <form action="" method="post">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="Email" name="email" class="form-contorl">
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type"password" id="password" name="password" class="form-control">
            </div>
        </form>
    </div>
</div>