$primary-color: black;
$secondary-color: purple;

.thumbnail {
  color: blue;
  background-color:blue;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(115, 255, 0);
  max-width: 100%;
}

.infobox {
  background-color: gray;
  border-color: rgb(196, 7, 7);
  border-style: double;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
  height: 50vh;
  width: 50vw; }

div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  color:rgb(33, 20, 207);
  background-color:rgb(2, 2, 15);

}

div.rowframe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
div.photoborder {
  max-width: 100%;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.col-sm-4 {
  color: limegreen;
  background-color: purple;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-around;
  align-content: center;
}


div.container {
  color: red;
  
 }

.photo  {
  background-color: yellowgreen;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 70vh;
  width: 150vw;
  max-width: 100%;
 }


body {
  max-height: 100%;
  max-width: 100%;
  background-color: blue;
  color: rgb(4, 4, 8);


}




h5 {
  background-color:#2BFF00;
  color: blue;
}

.description {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: blue; }

.price {
  background-color: white;
  color: crimson;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 5vh;}

@media (max-height: 500px) {
  .thumbnail {
    flex-flow: column;
    justify-content: space-between;
    background-color: green;
    transition: .2; } }

@media (max-width: 500px) {
  .thumbnail {
    flex-flow: column;
    justify-content: space-between;
    background-color: green;
    transition: .2s; } }