$primary-color: black;
$secondary-color: purple;
$body-color: rgb(85, 153, 46);










// .thumbnail {
//   color: blue;
//   background-color:blue;
// }

#body  {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $body-color;
  text-align: center;
  background-color: #653086;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: brown;
  align-items: center;
  
}


img {
  width: 30vw;
  height:100vh;
  max-height: 100%;
  max-width: 100%;
  display:flex;
  flex-flow: row;
  justify-content: flex-end;
}

// .infobox {
//   background-color: gray;
//   border-color: rgb(196, 7, 7);
//   border-style: double;
//   border-radius: 20px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: flex-end;
//   text-align: center;
//   height: 50vh;
//   width: 50vw; }

  div.toprow {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    width: 100vw;
    color: #6b14cf;
    background-color: #02020f;
    margin: 0;
    flex-direction: row;
    text-align: center;
}

div.row {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  max-width: 100%;
  width: 70vw;
  color:rgb(107, 20, 207);
  background-color:rgb(2, 2, 15);
  margin: 0;
  align-self: center;
}
div.row1  {
  background-color: #d39e00;
  color: pink;
  height: 70vh;
  width: 70vw;
  display: flex;
  border-style: dashed;
  border-width: 10px;
  text-align: center;
 }

// div.rowframe {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   width: 60vw;
//   max-width: 100%;
// }
// div.photoborder {
//   max-width: 100%;
//   background-color: blue;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }




 
 div.container1 {
   border-color: yellow;
   border-style: double;
 }


h1 {
  background-color:#2BFF00;
  color: blue;
}

// .description {
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-end;
//   background-color: blue; }

// .price {
//   background-color: white;
//   color: crimson;
//   display: flex;
//   flex-direction: column;
//   align-content: center;
//   height: 5vh;}

// @media (max-height: 500px) {
//   .thumbnail {
//     flex-flow: column;
//     justify-content: space-between;
//     background-color: green;
//     transition: .2; } }

// @media (max-width: 500px) {
//   .thumbnail {
//     flex-flow: column;
//     justify-content: space-between;
//     background-color: green;
//     transition: .2s; } }