#body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55992e;
  text-align: center;
  background-color: #653086;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: brown;
  align-items: center; }

img {
  width: 30vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end; }

div.toprow {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100vw;
  color: #6b14cf;
  background-color: #02020f;
  margin: 0;
  flex-direction: row;
  text-align: center; }

div.row {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  max-width: 100%;
  width: 70vw;
  color: #6b14cf;
  background-color: #02020f;
  margin: 0;
  align-self: center; }

div.row1 {
  background-color: #d39e00;
  color: pink;
  height: 70vh;
  width: 70vw;
  display: flex;
  border-style: dashed;
  border-width: 10px;
  text-align: center; }

div.container1 {
  border-color: yellow;
  border-style: double; }

h1 {
  background-color: #2BFF00;
  color: blue; }
