$primary-color: black;
$secondary-color: purple;

body {
  background-color:orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.whatever {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;

}
.something {

  display: flex;
  flex-flow: column;
  align-items: center;
}

.container {
  background-color:red;
}

.thumbnail {
  background-color:$secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h5 {
  background-color: yellowgreen;
  color:crimson;
}

.caption {
  background-color: cyan;
  width: 100%;
  height: 100%;
}
.body {
  max-height: 100%;
  max-width: 100%;
}
.something {
  display: flex;
  background-color: lime;
}


.description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: blue;
}

.price {
  background-color: #EEE3E3;
  color: #070705;
  display: flex;
  flex-direction: row-reverse;
  height: 5vh;
  margin-right: 2.5%;



}

@media (max-height: 500px){
.thumbnail {
  flex-flow: column;
  background-color: green;
}
}

@media (max-width: 500px){
  .thumbnail {
    flex-flow: column;
    background-color: green;
    transition: .5s;
  }
  }
  