body {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.whatever {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center; }

.something {
  display: flex;
  flex-flow: column;
  align-items: center; }

.container {
  background-color: crimson; }

.thumbnail {
  background-color: purple;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%; }

.body {
  max-height: 100%;
  max-width: 100%; }

.something {
  display: flex;
  background-color: lime; }

.caption {
  background-color: white;
  border-color: yellow;
  border-style: double;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

h5 {
  background-color: #2BFF00;
  color: blue; }

.description {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: blue; }

.price {
  background-color: white;
  color: crimson;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 5vh; }

@media (max-height: 500px) {
  .thumbnail {
    flex-flow: column;
    justify-content: space-between;
    background-color: green;
    transition: .2; } }

@media (max-width: 500px) {
  .thumbnail {
    flex-flow: column;
    justify-content: space-between;
    background-color: green;
    transition: .2s; } }
