<h1>Add An item to the store</h1>
<form action='/shopping/items/add/newitem' enctype='multipart/form-data' method='POST'>
    <label>title</label><br>
    <input placeholder='enter a title' name='title'/><br>
    <label>description</label><br>
    <input placeholder='enter a desc' name='description'/><br>
    <label>price</label><br>
    <input placeholder='enter a price' name='price'/><br>
    <input type='file' name='imagePath'><br>
    <input type='submit' />
</form>


