<h1> yooo waddap its the checkout page</h1>
<form action='/shopping/checkout/' enctype='multipart/form-data' method='POST'>
    <label>title</label><br>
    <input placeholder='enter a title' name='title'/><br>
    <label>description</label><br>
    <input placeholder='enter a desc' name='description'/><br>
    <input type='file' name='imagePath'><br>
    <input type='submit' />
</form>