{{#each products}}
<form action='/shop/product_showpage' enctype='multipart/form-data' method='GET'>

<h1>item show page</h1>
        <div class="productpage"><img src='{{imagePath}}'/></div>

</form>
{{/each}}